.btn-primary {
    border-color: #37A736;
    color: white;
    background-color: #37A736;
    height: 3rem;
    width: 8rem;
}

.btn-primary:hover {
    border-color: #0A442C;
    background-color: #0A442C;
    color: white;
}

/*favorite button*/
.bi-star-fill {
    color: #37A736;
}

.bi-star {
    color: #37A736;
}

/*general links*/
a:link {
    color: green;
    text-decoration: none;
}

a:visited {
    color: green;
    text-decoration: none;
}

a:active {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

[data-bs-theme="dark"]    a:link {
    color: #c7f8b7;
    text-decoration: none;
}

[data-bs-theme="dark"]   a:visited {
    color: #c7f8b7;
    text-decoration: none;
}

[data-bs-theme="dark"]   a:active {
    color: green;
    text-decoration: none;
}

[data-bs-theme="dark"]  a:hover {
    color: green;
    text-decoration: none;
}

/*nav link style*/
.nav-link {
    font-weight: bold;
    font-size: 1.25rem;
}

.nav-link:hover {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

[data-bs-theme="dark"]   .nav-link:hover {
    color: green;
    text-decoration: none;
}

/*General card styling*/
.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-title {
    font-size: 30px;
}

.category-list {
    font-size: 15;
}

.card:hover {
    transition: 0.15s ease-out;
    transform: scale(1.05);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.card-margins {
    margin: 50px;
}

.recipe-card {
    width: 18vw;
}

/*recipe steps card*/
.card-recipesteps-title {
    font-size: 20px;
    font-weight: bold;
}

.card-recipesteps:hover {
    transition: none;
    transform: none;
    box-shadow: none;
}

/*action button*/
a.action-btn {
    background-color: #37A736;
    color: white;
    font-size: 1rem;
    margin: 3px;
}

[data-bs-theme="dark"] a.action-btn {
    background-color: #c9f3ba;
    color: #1f881e;
    font-size: 1rem;
}

a.action-btn:hover {
    background-color: #b3e2a6;
    color: #155d12;
    font-size: 1rem;
}

[data-bs-theme="dark"] a.action-btn:hover {
    background-color: #b3e2a6;
    color: #155d12;
    font-size: 1rem;
}

/*category button in cards*/
a.category-btn {
    color: white;
    font-size: 0.75rem;
    margin: 2px;
    height: 1.25rem;
    width: 4rem;
    --bs-btn-padding-x: 0.25rem;
    --bs-btn-padding-y: 0rem;
}

a.category-btn:hover, a.category-btn:focus {
    background-color: #b3e2a6;
    color: #155d12;
    border: none;
    font-size: 0.75rem;
    margin: 2px;
    height: 1.25rem;
    width: 4rem;
    --bs-btn-padding-x: 0.25rem;
    --bs-btn-padding-y: 0rem;
}

[data-bs-theme="dark"] a.category-btn {
    background-color: #c9f3ba;
    color: #1f881e;
    font-size: 0.75rem;
    margin: 2px;
    height: 1.25rem;
    width: 4rem;
    --bs-btn-padding-x: 0.25rem;
    --bs-btn-padding-y: 0rem;
}

[data-bs-theme="dark"] a.category-btn:hover, a.category-btn:focus {
    background-color: #b3e2a6;
    color: #155d12;
    font-size: 0.75rem;
    margin: 2px;
    height: 1.25rem;
    width: 4rem;
    --bs-btn-padding-x: 0.25rem;
    --bs-btn-padding-y: 0rem;
}

/*category search button and form*/
form.category-form {
    background-color: #F7FBF5;
    border-radius: 10px;
    padding: 15px;
    max-width: 300px;
}

form.category-form div {
    margin-bottom: 8px;
}

[data-bs-theme="dark"] form.category-form {
    background-color: #37A736;
    border-radius: 10px;
    padding: 15px;
    max-width: 300px;
}

[data-bs-theme="dark"] form.category-form div {
    margin-bottom: 8px;
}

.btn-search-form {
    background-color: #37A736;
    color: #F7FBF5;
    border: none;
}

.btn-search-form:hover, .btn-search-form:focus {
    background-color: #b3e2a6;
    color: #155d12;
    box-shadow: none;
}

[data-bs-theme="dark"] .btn-search-form {
    background-color: #c9f3ba;
    color: #1f881e;
    border: none;
}

[data-bs-theme="dark"] .btn-search-form:hover, .btn-search-form:focus {
    background-color: #b3e2a6;
    color: #155d12;
    box-shadow: none;
}