.switch-input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-label {
    position: relative;
    padding-left: 50px;
    cursor: pointer;
    user-select: none;
    font-size: 1rem;
}

.switch-label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 20px;
    background-color: darkgrey;
    border-radius: 20px;
    transition: background-color 0.3s;
    color: black;
}

.switch-label::after {
    content: "";
    position: absolute;
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    color: white;
}

.switch-input:checked + .switch-label::before {
    background-color: green;
}

.switch-input:checked + .switch-label::after {
    transform: translate(22px, -50%);
}