<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{/fragments/general :: baseheader(~{:: title})}">
    <title>New Recipe Form</title>
</head>
<body>

<div th:replace="~{fragments/general :: navbar}"></div>

<div class="container">
    <div class="row mb-3">
        <div class="col-2"></div>
        <div class="col">
            <div class="mb-2"></div>
            <h1 th:text="${name} ? 'Edit Recipe' : 'New Recipe Form'"></h1>
            <form th:action="@{/recipe/save}" method="post" th:object="${formRecipe}" id="recipeForm">
                <input type="hidden" th:field="*{recipeId}" />
                <input type="hidden" th:field="*{creator}" />
                <div class="mb-4">
                    <h5>Recipe Name</h5>
                    <input type="text" th:field="*{name}" class="form-control">
                </div>

                <div class="mb-4">
                    <h5>Instruction Steps</h5>
                    <div id="stepsContainer" class="flex-column"></div>
                    <button class="btn btn-search-form"  type="button" id="addStep"><i class="bi bi-plus"></i> </button>
                </div>
                <div class="mb-4">
                    <h5>Ingredients</h5>
                    <div id="ingredientsContainer" class="flex-column"></div>
                    <button class="btn btn-search-form" type="button" id="addIngredient"><i class="bi bi-plus"></i> </button>
                </div>

                <div class="mb-2">
                    <h5>Categories</h5>
                    <select class="form-select" th:field="*{categories}" multiple>
                        <option th:each="category : ${allCategories}"
                                th:text="${category.name}"
                                th:value="${category.categoryId}">
                        </option>
                    </select>
                </div>
                <input class="btn btn-search-form" type="submit" value="Save Recipe" />

            </form>
        </div>
        <div class="col-2"></div>
    </div>
</div>

<script>
    function ensureAtLeastOneField(containerId, baseName, typeName) {
        const container = document.getElementById(containerId);
        const existingInputs = container.querySelectorAll('input');

        if (existingInputs.length === 0) {
            const containerField = document.createElement('div');
            const input = document.createElement('input');
            const text = document.createElement('span');
            const removeBtn = document.createElement('button');

            containerField.className = 'input-group mb-3';

            input.type = 'text';
            input.name = `${baseName}[0]`;
            input.className = 'form-control';

            text.className = 'input-group-text';
            text.innerText = `${typeName} 1`;

            removeBtn.type = 'button';
            removeBtn.textContent = 'Remove';
            removeBtn.className = 'btn btn-outline-danger remove-button';

            removeBtn.addEventListener('click', function () {
                container.removeChild(containerField);
                ensureAtLeastOneField(containerId, baseName, typeName);
                updateFields(container, baseName, typeName);

            });

            containerField.appendChild(text);
            containerField.appendChild(input);
            containerField.appendChild(removeBtn);
            container.appendChild(containerField);
        }

        return container.querySelectorAll('input').length;
    }

    function updateFields(container, baseName, label) {
        container.querySelectorAll('input').forEach((input, index) => {
            input.name = `${baseName}[${index}]`;
            input.previousElementSibling.innerText = `${label} ${index + 1}`;
        });
    }

    let recipeStepCount = ensureAtLeastOneField('stepsContainer', 'recipeStepsList', 'Step', 0);
    let ingredientCount = ensureAtLeastOneField('ingredientsContainer', 'ingredientsList', 'Ingredient', 0);

    document.getElementById('addStep').addEventListener('click', function (e) {
        e.preventDefault();
        const container = document.getElementById('stepsContainer');
        const input = document.createElement('input');
        const text = document.createElement('span');
        const containerField = document.createElement('div');
        const removeBtn = document.createElement('button');

        input.type = 'text';
        input.name = `recipeStepsList[${recipeStepCount}]`;
        input.className = 'form-control';

        text.className = 'input-group-text';
        text.innerText = `Step ${recipeStepCount + 1}`;

        removeBtn.type = 'button';
        removeBtn.textContent = 'Remove';
        removeBtn.className = 'btn btn-outline-danger remove-button';

        removeBtn.addEventListener('click', function () {
            container.removeChild(containerField);
            ensureAtLeastOneField('stepsContainer', 'recipeStepsList', 'Step')
            updateFields(container, 'recipeStepsList', 'Step');
            recipeStepCount--;
        });

        containerField.className = 'input-group mb-3';
        containerField.appendChild(text);
        containerField.appendChild(input);
        containerField.appendChild(removeBtn);

        container.appendChild(containerField);

        recipeStepCount++;
    });

    document.getElementById('addIngredient').addEventListener('click', function (e) {
        e.preventDefault();
        const container = document.getElementById('ingredientsContainer');
        const containerField = document.createElement('div');
        const input = document.createElement('input');
        const text = document.createElement('span');
        const removeBtn = document.createElement('button');

        input.type = 'text';
        input.name = `ingredientsList[${ingredientCount}]`;

        input.className = 'form-control';

        text.className = 'input-group-text';
        text.innerText = `Ingredient ${ingredientCount + 1}`;

        removeBtn.type = 'button';
        removeBtn.textContent = 'Remove';
        removeBtn.className = 'btn btn-outline-danger remove-button';

        removeBtn.addEventListener('click', function () {
            container.removeChild(containerField);
            updateFields(container, 'ingredientsList', 'Ingredient');
            ingredientCount--;
        });

        containerField.className = 'input-group mb-3';
        containerField.appendChild(text);
        containerField.appendChild(input);
        containerField.appendChild(removeBtn);

        container.appendChild(containerField);

        ingredientCount++;
    });
</script>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomscripts}"></div>



</body>
</html>